.swiper-wrap {
		/*  #ifndef APP-PLUS || H5  */
		margin-top: 10rpx;
		/*  #endif  */
		margin-bottom: 30rpx;
		height: 350rpx;		
	}
	@mixin mix_menu($mgb:20rpx) {
		display: flex;
		justify-content: space-between;
		margin-bottom: $mgb;
	}
	.flexCenter_c {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	@mixin mix_submenu($item1_w,$item1_h) {
		width: 220rpx;
		height: 220rpx;
		@extend .flexCenter_c;
		.item1{
			width: $item1_w;
			height: $item1_h;
		}
		.item2{
			height: 45rpx;
			line-height: 45rpx;
			font-size: 32rpx;
			color: #333333;
		}
		.item3{
			height: 30rpx;
			line-height: 30rpx;
			font-size: 22rpx;
			color: #999999;
		}
	}
	.submenu1,.submenu2,.submenu3{
		border-radius: 10rpx;
		box-shadow: 0px 8rpx 30rpx 0px rgba(204,204,204,0.2);
	}
	.menu1{
		@include mix_menu;
		.submenu1{
			@include mix_submenu(47rpx,66rpx);
		}
		.submenu2{
			@include mix_submenu(69rpx,57rpx);
		}
		.submenu3{
			@include mix_submenu(47rpx,67rpx);
		}
		
	}
	.menu2{
		@include mix_menu(30rpx);
		.submenu1{
			@extend .flexCenter_c;
			width: 340rpx;
			height: 180rpx;
			.item1{
				display: flex;
				height: 40rpx;
				align-items: center;
				.item1_c1{
					width: 26rpx;
					height: 28rpx;
					margin-right: 10rpx;
				}
				.item1_c2{
					font-size: 28rpx;
					height: 40rpx;
					line-height: 40rpx;
				}
			}
			.item2{
				font-size: 22rpx;
				color: #999999;
				margin-top: 10rpx;
			}
		}
		.submenu2{
			@extend .flexCenter_c;
			width: 160rpx;
			height: 180rpx;
			.item1{
				width: 49rpx;
				height: 45rpx;
				margin-bottom: 10rpx;
			}
			.item2{
				color: #333333;
				font-size: 24rpx;
			}
		}
	}
	.integral{
		display: flex;
		justify-content: space-between;
		align-items: center;
		.myIntegral{
			.item1{
				height: 40rpx;
				line-height: 40rpx;
				font-size: 28rpx;
				font-weight: bolder;
				margin-bottom: 10rpx;
				color: #333333;
			}
			.item2{
				height: 30rpx;
				line-height: 30rpx;
				font-size: 22rpx;
				color: #999999;
			}
		}
		.memberCode{
			display: flex;
			flex-direction: column;
			align-items: center;
			.item1{
				width: 34rpx;
				height: 34rpx;
				margin-bottom: 8rpx;
			}
			.item2{
				height: 30rpx;
				line-height: 30rpx;
				font-size: 22rpx;
				color: #999999;
			}
		}
	}
	